
@{
    ViewData["Title"] = "Index";
}


<button class="btn btn-info" id="btnAlertMessage">click me!</button>

@section Scripts {
    <script src="~/js/sweet.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
}
